{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'cores/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'cores/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cores/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Open+Sans:400,400i,700,700i&display=swap&subset=vietnamese" rel="stylesheet">
    <title>
        {% block titleblock %}
        {% endblock %}
    </title>

</head>
{% include 'cores/header.html' %}
<body>
{% block contentblock %}
{% endblock %}
{% include 'cores/footer.html' %}
    <script src="{% static 'cores/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'cores/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'cores/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cores/js/main.js' %}"></script>
</body>
</html>